:root {
    --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav-bar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #F8FAFC;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
}

.responsive-box {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-link {
    text-decoration: none;
    font-family: var(--font);
    font-weight: 700;
    font-size: 24px;
    line-height: 26px;
    letter-spacing: -0.355556px;
    color: #334155;
    margin-right: 30px;
}

.nav-link:hover {
    opacity: 0.8;
}

.active {
    color: #F7931E;
}

.logout-btn {
    width: 120px;
    height: 40px;
    background: #F7931E;
    border-radius: 8px;
    flex: none;
    order: 0;
    flex-grow: 0;
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
    color: #FFFFFF;
    border: none;
    margin-left: 20px;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
}

.logout-btn:hover {
    background-color: transparent;
    color: #F7931E;
    border: 1px solid #F7931E;
    transition: 0.3s ease-in-out;
}

/* mobile navbar styles start */

.mob-nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mob-logo-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 240px;
    height: 100%;
}

.mob-app-logo {
    width: 45px;
    height: 35px;
}

.mob-app-title {
    font-family: var(--font);
    font-style: italic;
    font-weight: 600;
    font-size: 25px;
    line-height: 24px;
    color: #F7931E;
    margin-left: 8px;
}

.mob-menu-icon {
    font-size: 30px;
    color: #231F20;
    font-weight: 600;
    cursor: pointer;
}

.mob-menu-icon:active {
    color: #F7931E;
}

.menu-list-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}

.mob-menu-close-icon {
    font-size: 30px;
    color: #231F20;
    cursor: pointer;
    margin: 0;
}

.logout-popup-box {
    width: 280px;
    height: 120px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgb(0 0 0 / 20%);
}

.are-you-sure-text {
    font-family: var(--font);
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #334155;
    text-align: center;
    margin: 0;
}

.buttons-box {
    width: 72%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.btn {
    font-family: var(--font);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 45%;
    height: 35px;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    background-color: transparent;
}

.cancel {
    color: #58cf34;
    border: 1px solid #58cf34;
    transition: 0.3s ease-in-out;
}

.cancel:hover {
    color: #FFFFFF;
    background-color: #58cf34;
    transition: 0.3s ease-in-out;
}

.confirm {
    color: #cf3d29;
    border: 1px solid #cf3d29;
    transition: 0.3s ease-in-out;
}

.confirm:hover {
    color: #FFFFFF;
    background-color: #cf3d29;
    transition: 0.3s ease-in-out;
}

.mob-menu-close-icon:hover {
    color: #F7931E;
}

/* mobile navbar styles ended */

@media (max-width: 500px) {
    .responsive-box {
        display: none;
    }

    .nav-bar {
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu-list-box {
        width: 95%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .nav-list {
        width: 70%;
        margin: 0;
    }

    .nav-link {
        margin: 0;
        font-size: 18px;
    }

    .logout-btn {
        width: 80px;
        height: 26px;
        border-radius: 5px;
        font-size: 16px;
        margin: 0;
    }

    .logout-popup-box {
        width: 250px;
        height: 120px;
        padding: 8px;
        border-radius: 8px;
    }
    
    .are-you-sure-text {
        font-size: 16px;
    }
    
    .buttons-box {
        width: 72%;
        margin-top: 10px;
    }
    
    .btn {
        width: 38%;
        height: 30px;
        border-radius: 6px;
    }
}

@media (min-width: 500px) {
    .mob-nav {
        display: none;
    }
}